<head>
	<title>Gitalysis</title>
	<style>
		.header {
			font-family :Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
			padding-top: 300px;
			padding-bottom: 200px;
			text-align: center;
			color: white;
			background: #2e2e4a;
			width: 100%;
		}
		.body {
			border:0;
		}
		.tailer {
			font-family :Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
			text-align: center;
		}

		input {
			margin-top: 8px;
		}
	</style>
</head>
<div class="body">
	<div class="header">
		<h1>Want to know if you out-git someone? type your name and their's here!</h1>
	</div>
	<div class="tailer">
		<form action="/analysis/callback">
			<input type="text" value="Person 1"/>
			<input type="text" value="Person 2"/>
			<br>
			<input type="submit" value="Git gud"/>
		</form>
	</div>
