<head>
	<title>Gitalysis</title>
	<style>
		.header {
			padding-top: 300px;
			padding-bottom: 200px;
			text-align: center;
			color: black;
			background: #ffffff;
		}
		body {
			font-family: Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
			background: #242938;
			border: 0;
			height: 100%;
			text-align: center;
			color: white;
		}
		.tailer {
			font-family: Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
		}
		input {
			margin-top: 8px;
		}
		a {
			padding-top: 50px;
		}
	</style>
</head>
{% if code != ''%}
	{% include "analysis/stats.html"%}
{% else %}
<body style="margin: 0;">
		<div class="header">
			<h1>Gitalyser</h1>
			<h3>Want to know if you out-git someone? Find out below. {{ validated }}</h3>
		</div>

	<!--	<div class="tailer">
			<form action="/analysis/callback/" method="post"> {% csrf_token %}
				<input type="text" name="uname" placeholder="username"/>
				<br>
				<input type="password" name="pw" placeholder="password"/>
				<br>
				<input type="submit" value="Git gud"/>
			</form>
	</div>	-->
		<a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ client_id }}">Click here</a> to begin</a>
</body>
{% endif %}
