<head>
	<title>Gitalyser</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/leach.css" %} ">
</head>
<body>
	<div class="header">
		<h1>Here are some stats for "{{ repo_name }}"</h1>
	</div>
	<div class="results">
		{% if contributors %}
		
		<table>
			<tr>
				<td id="graph"></td>
			</tr>
		</table>

		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://d3js.org/d3-color.v1.min.js"></script>
		<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
		<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
		<script>var contribs = JSON.parse('{{ contributors|safe }}');</script>
		{% load static %}
		<script src={% static "js/leach.js" %}></script>
		
		{% else %}
		<h2>It seems there were no contributors for this repository</h2>
		{% endif %}
	</div>
</body>
