<head>
	<title>Gitalyser - Stats</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/stats.css" %}">
</head>
<body>
	<div class="header">
		{% if avatar %}
		<img src="{{ avatar }}" alt="profile picture of user"/>	
		<h1>Here are some stats!</h1>
		{% else %}
		<h1>Oops, something broke. Please verify that you have logged in.</h1>
		{% endif %}
	</div>
	<div class="results">
		<table>
			{% if repos %}
			{% for repo in repos %}
			<tr>
				<td>
					<a href="http://127.0.0.1:8000/leach?repo={{repo.name}}">
					{{ repo.name }}
					</a>
				</td>
			</tr>
			{% endfor %}
			{% endif %}
		</table>
	</div>
</body>
