<head>
	<title>Gitalyser - Stats</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/stats.css" %}">
</head>
<body>
	<div class="header">
		{% if avatar %}
		<img src="{{ avatar }}" alt="profile picture of user"/>	
		<h1>Here are some stats!</h1>
		{% else %}
		<h1>Oops, something broke. Please verify that you have logged in.</h1>
		{% endif %}
	</div>
	<div class="results">
		{% if results %}
		<table>
			<tr>
				<td>Repositories:</td>
			</tr>
			<tr>
				<td>Commits:</td>
			</tr>
		</table>
		<script src="https://d3js.org/d3.v4.min.js"></script>	<!-- only load d3 if we have stats to show -->
		<!--<script type="text/javascript" src="/js/stats.js"/></script> -->
		{% load static %}
		<script type="text/javascript" src="{% static "js/stats.js" %}"></script>
		{% else %}
		<h1>No stats available</h1>
		{% endif %}
	</div>
</body>
